#italian{
    background-image: url(../imgs/italianFlag.png) !important;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 70px;
}

#english{
    background-image: url(../imgs/englishFlag.png) !important;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 70px;
}

#body{
    background-image: url(../imgs/backgroundModal.png);
    background-repeat: no-repeat;
    background-size: cover;
}